@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  position: relative;
  font-family: 'Roboto Mono';
  background: rgba(33, 174, 255, 0.493);
}

h1,
h2,
h3,
.example {
  text-align: center;
}
#main {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  box-shadow: 0 0 0 0;
}

#resultBox {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  transition: background-color 0.7s ease;
}

/* little info circle */
#resultBox::after {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
  content: 'i';
  position: absolute;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  top: -1;
  left: 50%;
  margin-left: -18px;
  background-color: blue;
  cursor: pointer;
}

textarea {
  resize: horizontal;
  display: block;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;

  letter-spacing: 0.2em;
  font-size: 1.3rem;
  inline-size: 35rem;
  block-size: 18rem;

  transition: background-color 0.7s ease;
}

textarea:focus {
  outline: none;
}

#examplesContainer {
  display: inherit;
  flex-flow: inherit;
  justify-content: space-around;
  align-items: center;
}

#examples {
  display: inherit;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.example {
  padding: 0.5rem;
  border: 3px solid #000;
  border-color: black;
  background: #fff;
  cursor: pointer;
  margin: 0.5rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.pass {
  background-color: rgba(33, 230, 33, 0.699);
}

.fail {
  background-color: rgba(255, 0, 0, 0.815);
}

.neutral {
  background-color: #fff;
}

::selection {
  background: rgba(255, 255, 255, 0.904);
  color: #329df5;
}

/* phones media querry */
@media (max-width: 450px) {
  *{
    box-sizing: unset;
  }
  body {
    background: rgba(248, 212, 10, 0.76);
     display: flex;
    justify-content: space-evenly;
  }

  textarea {
    background-color:  rgba(33, 230, 148, 0.781);
    inline-size: unset;
  }

  #examples {
    display: inline-block;
  }
}
